.packages {
    
}

.packages h1 {
    
}

.packages ul {
    list-style-type: none;
    padding: 0;
}

.package {
    
}

.package-title .package-name,
.package-title .btn-book {
    display: inline;
}

.package-name {
    
}

.package .details {
    
}

.package .description {
    
}

.package .extras {
    display: none;
}

.package .price {
    
}

.package .perDay {
    
}

.btn {
    
}

.btn-extras {
    
}
