.packages {
    
}

.packages h1 {
    
}

.packages ul {
    list-style-type: none;
    padding: 0;
}

.package {
    
}

.package-name {
    
}

.package .details {
    
}

.package .description {
    
}

.package .extras {
    display: none;
}

.package .price {
    
}

.package .perDay {
    
}

.btn {
    
}

.btn-extras {
    
}

.btn-inline {
    display: inline;
}
